@charset "UTF-8";

/*추가 css*/
#boardListNav>li>a{
			font-size: 1.3em;
			color : black;
			font-weight: bold;
		}
	#boardListNav>li{
		padding-left: 10px;
		padding-right: 10px;
	}
	#cont{
				background-color:rgb(133,114,238);
		
	}
	a.navbar-brand{
	
		color: white;
	}
	a.nav-link{
		color: white;
	}
	
	#title{
		font-size:30pt;
	}
	#afterLogin{
		border:1px solid white; 
		border-radius:4px;
		width:450px; 
		height:50px;
		
		
	}
	#afterLogin ul{
		margin-top:15px;
	}
	#afterLogin li{
		list-style-type: none;
		float:left;
		width:100px;
	}

	#afterLogin a{
		font-size:10pt;
	}