<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.model.BookmarkMapper">
	<!-- 북마크를 설정하는 태그 -->
	<insert id="setBookmark" parameterType="map">
		insert into user_bookmark values(#{id}, #{tn})
	</insert>
	<delete id="delBookmark" parameterType="map">
		delete from user_bookmark where (select tn from user_bookmark where id=#{id}) =#{tn}
	</delete>
	<select id="getBookmark" parameterType="map" resultType="bookmark">
		select id, tn from user_bookmark where id=#{id}
	</select>

</mapper>