<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="board.model.FreeBoardMapper">
 
 	<!-- 칼럼과 VO객체의 명명이 다를경우 맵핑해준다. -->
 	<resultMap type="board" id="boardMap">
 		<id property="num" column="free_b_num"/>
 		<result property="subject" column="subject"/>
 		<result property="content" column="content"/>
 		<result property="id" column="id"/>
 		<result property="hits" column="hits"/>
 		<result property="likes" column="likes"/>
 		<result property="date" column="wdate"/>
 	</resultMap>
 	
 	<resultMap type="reply" id="replyMap">
 		<id property="ReplyNum" column="free_b_r_num"/>
 		<result property="ArticleNum" column="free_b_num"/>
 		<result property="id" column="id"/>
 		<result property="content" column="content"/>
 		<result property="wdate" column="wdate"/>
 	</resultMap>
 	
 	<!-- 게시판의 글목록을 불러오는 sql문 -->
 	<select id="boardContent" resultMap="boardMap">
 		select free_b_num, subject, content, id, hits, likes, wdate  
 		from free_board order by 1 desc 
 	</select>
 	
 	<!-- 선택한 게시글의 내용을 불러오는 sql문 -->
 	<select id="getArticle" parameterType="_int" resultMap="boardMap">
 		select free_b_num, subject, content, id, hits, likes, wdate  
 		from free_board where free_b_num=#{num}
 	</select>
 	<!-- 게시판에 글을 쓰는 sql문 -->
 	<insert id="articleWrite" parameterType="board">
 		insert into free_board values(
 			free_board_seq.nextval,
 			#{subject},
 			#{content},
 			#{id},
 			#{hits},
 			#{likes},
 			sysdate
 		)
 	</insert>
 	<!-- 리플을 작성하는 sql문 -->
 	<insert id="subReply" parameterType="reply" >
 		insert into free_board_reply values(
 			free_board_reply_seq.nextval,
 			#{ArticleNum},
 			#{id},
 			#{content},
 			sysdate
 		)
 	</insert>
 	<!-- 리플을 볼러오는 sql문 -->
 	<select id="getReply" parameterType="_int" resultMap="replyMap">
 		select * from free_board_reply where free_b_num=#{num} order by free_b_r_num
 	</select>
 	
 </mapper>