<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="board.model.HumorBoardMapper">
 
  	<!-- 칼럼과 VO객체의 명명이 다를경우 맵핑해준다. -->
 	<resultMap type="board" id="boardMap">
 		<id property="num" column="humor_b_num"/>
 		<result property="subject" column="subject"/>
 		<result property="content" column="content"/>
 		<result property="id" column="id"/>
 		<result property="hits" column="hits"/>
 		<result property="likes" column="likes"/>
 		<result property="date" column="wdate"/>
 	</resultMap>
 	
 	<resultMap type="reply" id="replyMap">
 		<id property="ReplyNum" column="humor_b_r_num"/>
 		<result property="ArticleNum" column="humor_b_num"/>
 		<result property="id" column="id"/>
 		<result property="content" column="content"/>
 		<result property="wdate" column="wdate"/>
 	</resultMap>
 	
 	<select id="boardContent" resultMap="boardMap">
 		select humor_b_num, subject, content, id, hits, likes, wdate  
 		from humor_board order by 1 desc 
 	</select>
 	
 	<!-- 선택한 게시글의 내용을 불러오는 sql문 -->
 	<select id="getArticle" parameterType="_int" resultMap="boardMap">
 		select humor_b_num, subject, content, id, hits, likes, wdate  
 		from humor_board where humor_b_num=#{num}
 	</select>
 	<!-- 게시판에 글을 쓰는 sql문 -->
 	<insert id="articleWrite" parameterType="board">
 		insert into humor_board values(
 			humor_board_seq.nextval,
 			#{subject},
 			#{content},
 			#{id},
 			#{hits},
 			#{likes},
 			sysdate
 		)
 	</insert>
 	<!-- 리플을 작성하는 sql문 -->
 	<insert id="subReply" parameterType="reply" >
 		insert into humor_board_reply values(
 			humor_board_reply_seq.nextval,
 			#{ArticleNum},
 			#{id},
 			#{content},
 			sysdate
 		)
 	</insert>
 	<!-- 리플을 볼러오는 sql문 -->
 	<select id="getReply" parameterType="_int" resultMap="replyMap">
 		select humor_b_r_num, humor_b_num, id, content, wdate from humor_board_reply where humor_b_num=#{num} 
 	</select>
 	<!-- 조회수 증가 -->
 	<update id="increaseHits" parameterType="_int">
 		update humor_board set hits= hits+1 where humor_b_num=#{num}
 	</update>
 </mapper>